<html>
    <body style = "background-color: #DCD6DA;">
        <form action="" method="POST">
            <div style = "posision: relative; text-align:center; margin-top: 100; margin-left: auto; margin-right: auto; background-image: url('/static/images/loginpage.png'); background-size: contain; width: 310; height: 200;"></div>
            <div style="posision: relative; text-align: center; margin-top: 50; margin-left: auto; margin-right: auto;">
                <label>ID : <input type="text" name="ID" /></label></br>
                <label style="text-align: center;">PW : <input type="text" name="pwd" /></label></br>
                
                <button style="margin-top:10; text-align: center; background-color: #CED7DE;  cursor: pointer; border: 2px solid white;" type="submit">Register</button>
                <button style="margin-top:10; text-align: center; background-color: #CED7DE;  cursor: pointer; border: 2px solid white;" type="button" onClick="location.href='/user/login'">Go back to Login</button>
            </div>
        </form>
    </body>
</html>