<html>
    <body style = "background-color: #DCD6DA;">
        <div style = "posision: relative; text-align:center; margin-top: 50; margin-left: auto; margin-right: auto; background-image: url('/static/images/snoopy.png'); width: 200px; height: 300px;"></div>
        <div style = "posision: relative; text-align:center; margin-top: 30; margin-left: auto; margin-right: auto;">
            <h1 style = "font-family: fantasy; font-size: 70px;">Welcome to diary</h1>
            <center>You are not logged in</br></center>
            <center><button style = "margin-top: 10; background-color: #CED7DE;  cursor: pointer; border: 2px solid white;"><a href="/user/login">Click Here to Login</a></button></center>
        </div>
    </body>
</html>